---
import ExperienceItem from "./ExperienceItem.astro";
import Link from "./icons/Link.astro";
const EXPERIENCIE = [
  {
    date: "Febrero 2023 - Abril 2024",
    title: "Dysam facturas",
    company: "Dysam",
    description:
      "Un proyecto dedicado a simplificar la gestión de facturas. Con un enfoque centrado en la eficiencia y la facilidad de uso, este sistema proporciona herramientas para crear, gestionar y rastrear facturas de manera intuitiva. ",
  },
  {
    date: "Octubre 2023 - Noviembre 2023",
    title: "Sistema de registro y envío de facturas",
    company: "Dysam",
    description:
      "Aplicación con dos módulos, administrador y usuario. El de administrador permite la subida de archivos “pdf” y enlazarlo con un código generado el cual es enviado al correo de los usuarios. El módulo de usuarios permite la consulta de esos archivos mediante el código generado",
  },
  {
    date: "Marzo 2023 - Mayo 2023",
    title: "Reportes Excel",
    company: "Dysam",
    description:
      "Esta aplicación web desarrollada con React.js presenta una interfaz intuitiva para la gestión de registros relacionados con llamadas y saldos pendientes. Permite la carga de datos desde archivos Excel, los cuales son luego visualizados en una tabla paginada, facilitando la búsqueda y revisión de información clave como el nombre del cliente, la fecha y hora de la llamada, número de factura, saldo pendiente, días de vencimiento, fecha y comentarios asociados. ",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
