---
const currentYear = new Date().getFullYear();
---

<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="w-full max-w-screen-xl mx-2 md:flex md:items-center md:justify-between lg:mx-0"
  >
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        <p>©José Luis Arteta Buelvas</p>
      </li>
    </ul>
  </div>
</footer>
